.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  padding: 30px;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .cardList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}
